:root {
  --content: #07402a;
  --interaction: #00ca6e;
  --search-background: #d6edeb;
  --background: #ffffff;
  --content-secondary: #010c44;
  --decoration-error: #f03f45;
  --decoration-warm: #fcc034;
  --decoration-alert: #f88134;
  --decoration-accept: #cdf1b7;
}
* {
  margin: 0;
}

* {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 12px;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.semibold {
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  body {
    width: 100%;
    background-color: var(--content);
  }
}

body {
  background: var(--content);
}
.header {
  margin: 12px 24px;
  display: flex;
  align-items: center;
}

.header h2 {
  font-style: semibold;
  font-size: 16px;
  color: var(--content);
}
.btnBack {
  height: 36px;
  width: 36px;
  margin-right: 16px;
  border-radius: 30px;
  color: var(--interaction);
  background-color: transparent;
  border-color: transparent;
}
.btnBack:hover {
  background-color: var(--interaction);
  color: var(--content);
  border-radius: 30px;
  cursor: pointer;
}
.btnBack:click {
  background-color: var(--interaction);
  border-radius: 30px;
  cursor: pointer;
}

.container {
  position: relative;
  align-items: center;
  max-width: 320px;
  width: 100%;
  margin: 24px;
}

.select-btn {
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--background);
  border: 1px solid var(--content);
}
.select-btn .btn-text {
  color: var(--content);
}
.select-btn .arrow {
  display: flex;
  width: 20px;
  color: var(--content);
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.select-btn.open .arrow {
  transform: rotate(-180deg);
}
.select-btn.open ~ .list-items {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}
.list-items {
  position: absolute;
  max-width: 320px;
  width: 100%;
  margin-top: 8px;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--background);
  border: 1px solid var(--content);
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
}

.list-items .items {
  display: flex;
  align-items: center;
  list-style: none;
  height: 44px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 16px;
  border-radius: 8px;
}
.list-items .items:click {
  background-color: var(--search-background);
}
.items .item-text {
  color: var(--content);
}
.items .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  margin-right: 12px;
  border: 2px solid var(--content);
  transition: all 0.3s ease-in-out;
}
.item.checked .checkbox {
  background-color: var(--interaction);
  border-color: var(--content);
}
.item.checked .check-icon {
  transform: scale(1);
}
.checkbox .check-icon {
  color: var(--background);
  font-size: 11px;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}
