:root {
  --content: #07402a;
  --interaction: #00ca6e;
  --search-background: #d6edeb;
  --background: #ffffff;
  --content-secondary: #010c44;
  --decoration-error: #f03f45;
  --decoration-warm: #fcc034;
  --decoration-alert: #f88134;
  --decoration-accept: #cdf1b7;
}

* {
  margin: 0;
}

* {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 12px;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.semibold {
  font-weight: 600;
}
.logo {
  height: 40px;
  width: auto;
  padding: 2px;
  margin-left: 12px;
}
.logo:hover {
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}
.btndrop {
  height: 36px;
  width: 36px;
  margin-right: 12px;
  border-radius: 30px;
  color: var(--interaction);
  background-color: transparent;
  border-color: transparent;
}
.btndrop:hover {
  background-color: var(--interaction);
  color: var(--content);
  border-radius: 30px;
  cursor: pointer;
}
.btndrop:click {
  background-color: var(--interaction);
  border-radius: 30px;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  right: 0;
  display: none;
  position: absolute;
  background-color: var(--search-background);
  border: 1px solid var(--content);
  border-radius: 8px;
  min-width: 100px;
  max-width: auto;
  box-shadow: 0px 2px 8px 0px rgba(182, 204, 250, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: var(--content);
  padding: 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:click {
  background-color: var(--content);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--interaction);
}

nav {
  background-color: var(--content);
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--search-background);
}
